* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.container {
    display: grid;
    grid-template-areas:
    "sidebar-left header header"
    "sidebar-left content sidebar-right"
    "footer footer sidebar-right";
}

.header {
    grid-area: header;
    background-color: lightgray;
    text-align: center;
    padding: 20px;
}

.sidebar-left {
    grid-area: sidebar-left;
    background-color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-right {
    grid-area: sidebar-right;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content {
    grid-area: content;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    grid-area: footer;
    background-color: greenyellow;
    text-align: left;
    padding: 20px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 700px) {
    .container {
        grid-template-areas:
      "header"
      "sidebar-left"
      "content"
      "sidebar-right"
      "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}